:root {
  --dark_bg_1: "#111B21";
  --dark_bg_2: "#202C33";
  --dark_bg_3: "#182229";
  --dark_bg_4: "#222E35";
  --dark_bg_5: "#233138";
  --dark_bg_6: "#101A20";
  --dark_bg_7: "#d1f4cc";
  --dark_border_1: "#222D34";
  --dark_border_2: "#313D45";
  --dark_hover_1: "#2A3942";
  --dark_svg_1: "#AEBAC1";
  --dark_svg_2: "#8696A0";
  --blue_1: "#53BDEB";
  --blue_2: "#3E7B96";
  --dark_text_1: "#E9EDEF";
  --dark_text_2: "#8696A0";
  --dark_text_3: "#8696a0";
  --dark_text_4: "#D1D6D8";
  --dark_text_5: "#99BEB7";
  --dark_scrollbar: "#374045";
  --green_1: "#00A884";
  --green_2: "#008069";
  --green_3: "#005C4B";
  --green_4: "#025144";
  --green_5: "#d1f4cc";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
button:disabled {
  cursor: not-allowed;
}

.flex_vertical {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex_horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
}

/* Custom scroll bar */
.scrollBar::-webkit-scrollbar {
  width: 5px;
}
.scrollBar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollBar::-webkit-scrollbar-thumb {
  background: #444e54;
  border-radius: 3px;
}

/* Styles Import */
@import url("./styles/dashboard.css");
@import url("./styles/login.css");
@import url("./styles/loginForm.css");
@import url("./styles/registerForm.css");
@import url("./styles/messenger.css");
@import url("./styles/activeChat.css");
