.my-rooms-btn {
  position: relative;
  margin: 1rem 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.my-rooms-btn::before,
.my-rooms-btn:disabled::before {
  content: attr(data-info);
  position: absolute;
  bottom: -30px;
  width: 150px;
  font-size: 12px;
  background: #ddd;
  color: #000;
  padding: 2px;
  border-radius: 3px;
  display: none;
}
.my-rooms-btn:hover::before,
.my-rooms-btn:disabled:hover::before {
  display: block;
}
