.dash-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Sidebar */
.sidebar-main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
}
.sidebar-left {
  background: #202225;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-right {
  padding-top: 1rem;
  background: #2f3136;
  flex: 3;
  width: 100%;
  height: 100%;
}
.sidebar-right_top {
  height: 50%;
  border-bottom: 1px solid black;
  overflow-y: auto;
}
/* FriendsBar */

.friendsBar-container h2,
.invitations-container h2 {
  color: #ddd;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.my_friends {
  width: 100%;
}
.friend {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 2rem;
  background: #3e7b96;
  margin-bottom: 5px;
  border-radius: 5px;
  padding-left: 1rem;
  height: 42px;
  cursor: pointer;
  transition: all 0.3s;
}
.isUser-online {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.friend:hover {
  background: #34667c;
}
.friend-name {
  color: #fff;
}
.friend-picture img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar-right_bottom {
  height: 50%;
}
/* Invitations */
.manage-opacity {
  opacity: 0.6;
}
.inviter {
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 5px;
  background: #025144;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 0 10px;
  height: 42px;
  transition: all 0.3s;
}

.inviter-name {
  color: #fff;
  flex: 1;
}
.inviter-picture {
  flex: 1;
}
.inviter-picture img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
.inviter::before {
  content: attr(data-mail);
  position: absolute;
  top: -110%;
  width: 100px;
  /* height: 30px; */
  background: #222;
  color: #fff;
  border-radius: 3px;
  padding: 5px;
  text-transform: lowercase;
  font-weight: normal;
  text-align: center;
  display: none;
}
.inviter:hover::before {
  display: block;
}
.decision-buttons {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
.decision-buttons button {
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 3px;
  color: #ddd;
}
.invite-accept {
  background: green;
}
.invite-reject {
  background: red;
}
/* Invite friend Box */
.invite_friend_box {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  color: #fff;
}
.invite_friend_content {
  position: relative;
  width: 30%;
  height: fit-content;
  background: #333;
  padding: 1rem;
  border-radius: 5px;
}
.invite_friend_content h2 {
  margin-bottom: 1rem;
}
.invite_friend_content input {
  width: 70%;
  height: 30px;
  display: block;
  margin: 10px auto 0 auto;
  outline: none;
  padding: 0 10px;
}
.close_dialog {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background: red;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}
/* ICONS with Buttons*/
.group-icon-btn {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-top: 10px;
  color: #fff;
  background: #5865f2;
}
.add-friend-btn {
  width: 80%;
  height: 30px;
  margin-left: 10%;
  margin-top: 10px;
  color: #fff;
  background: #3ba55d;
  border-radius: 6px;
  font-weight: 600;
}
.send_invitation_btn {
  display: block;
  color: #fff;
  background: #3ba55d;
  width: 30%;
  height: 30px;
  font-weight: bold;
  margin: 1rem auto;
  margin-bottom: 0;
  letter-spacing: 0.6px;
  border-radius: 4px;
}
