.messenger-main {
  flex: 3;
  background: #36393f;
}
.messenger-main header {
  position: relative;
  height: 55px;
  border-bottom: 1px solid black;
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.profile-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.drop-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  color: #ddd;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.drop-menu {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 5px;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .messenger-main {
    flex: 3;
  }
}
@media (max-width: 1100px) {
  .messenger-main {
    flex: 2;
  }
}
