.room-main {
  position: absolute;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #202225;
}

.room-full-screen {
  width: 100%;
  height: 100vh;
}
.room-min-screen {
  width: 30%;
  height: 40vh;
  right: 1rem;
  bottom: 1rem;
}

/* Video Container */
.video-container-main {
  height: 85%;
  width: 100%;
  border-radius: 8px 8px 0 0;
  background: #dddd;
  display: flex;
  flex-wrap: wrap;
}
.video-main {
  height: 50%;
  width: 50%;
  border-radius: 8px;
  background: #000;
}
.video-main video {
  width: 100%;
  height: 100%;
}
/* Call Actions */
.call-actions-main {
  height: 15%;
  width: 100%;
  background: #5865f2;
  border-radius: 0 0 8px 8px;
}
.call-actions-content {
  width: 100%;
  height: 100%;
}
.call-actions-content ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.resize-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4c5af3;
  color: #ddd;
}
.resize-btn:hover {
  color: #000;
}
@media (max-height: 610px) {
  .room-min-screen {
    height: 50vh;
  }
  .video-container-main {
    height: 80%;
  }

  .call-actions-main {
    height: 20%;
  }
}
@media (max-width: 1200px) {
  .room-min-screen {
    width: 40%;
  }
  .resize-btn {
    width: 35px;
    height: 35px;
  }
}
